<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MYTimeManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>782F22F11CE5A91800827A22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>782F230A1CE5A91800827A22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>782F23151CE5A91800827A22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
